{% extends 'layout.html' %}
 
{% block content %}
<table class="styled-table">
  <thead>
      <tr>
          <th>일자</th>
          {% for date_num, date_string in date_list %}
          <th>{{ date_num }}<br>{{date_string}}</th>
          {% endfor %}
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>아침</td>
      </tr>
      <tr class="active-row">
          <td>점심</td>
          {% for menu in menu_list %}
          <td class="styled-td">
            {% for m in menu.split() %}
              {{m}}<br>
            {% endfor %}
          </td>
          {% endfor %}
      </tr>
      <tr>
        <td>저녁</td>
    </tr>
      <!-- and so on... -->
  </tbody>
</table>
{% endblock %}